* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html ,body {
width: 100%;
height: 100%;
}
#main{
    width: 100%;
    height: 100vh;
    background-color: black;
}
#main .nav{
    width: 100%;
    height: 10vh;
    background-color: red;
}