* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html ,body {
width: 100%;
height: 100%;
font-size: 16px;
}
#main{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    
}
nav{
    width: 100%;
    height: 10vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 30px;
}
.NavLeft{
  display: flex;
  align-items: center;
   gap: 30px;
}
.NavLeft h4{
  font-size: 1.1rem;
  font-weight: 400;
}
.NavLeft h4 img{
  width: 35px;
}
.NavLeft h4:first-child {
    margin-right: 20px;   
}
#centercontainer{
  display: flex;
  width: 100%;
  height: calc(100vh - 10%);
}
.left{
  width: 40%;
  height: 100%;
  /* border: 2px solid black; */
}
#img{
  width: 60%;
  height: 100%;
  
}
#textContainer{
  display: flex;
   padding: 5% 0% 0% 25%;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 30px;
}
#textContainer h4{
  font-size: 3rem;
  font-weight: 300;
}
#textContainer p{
  font-size: 1.2rem;
  font-weight: 400;
  color: #00000087;
}
#center {
  width: 100%;
 
}
#center h1{
  font-size: 16vw;
  font-weight: 300;
  padding: 0% 0% 0% 25%;
  line-height: 18vw;
}
#center p{
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0% 0% 0% 25%;
  color: #00000087;
  
}
#img img{
 width: 80%;
 height: 100%;
  object-fit: cover;
}
h5{
   padding: 0% 0% 0% 25%;
   margin-top: 20%;
   font-size: 1.3rem;
   font-weight: 400;
}
